.tag {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 12px;
  border-radius: 20px;
  margin-right: 5px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  background-color: #de0000;
  color: var(--white);
  font-weight: bold;
}

.gray {
  background-color: #b3c0d9;
  color: var(--white);
  font-weight: bold;
}

.green {
  background-color: var(--green-light);
  color: var(--green);
  font-weight: bold;
}

.primary {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
